/**
    Default styling for the page
*/
body{
    font-family: monospace;
}

h1{
    font-size:xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    border-bottom: 1px solid black;
}

/**
    Cutting the course list into 2 columns, will change when on mobile
*/
#CourseList{
    column-count: 2;
    font-size: small;
}

/**
    Neon styling for the page
*/
.NeonMode{
    background-color: chartreuse;
    color:red;
    a{
        color:aqua
    }
}

/**
    Dark mode styling for the page
*/
.DarkMode{
    background-color: darkslategrey;
    color:white;
    a{
        color:white;
    }
}

/**
    Changes the styling whenever the screen is less than 1000px wide (i.e. on mobile)
    Increases font size for readability and adds an extra column
*/
@media (max-width: 1000px) {
    #CourseList { 
        column-count: 3;
        font-size: larger;
    }
}

